# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the main branch
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  build:
    strategy:
      matrix:
        python-version: ['3.13', '3.12', '3.11']
    runs-on: ubuntu-latest
    timeout-minutes: 5

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
          
      - name: Switch to Current Branch
        run: git checkout ${{ env.BRANCH }}
              
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install uv
        uses: astral-sh/setup-uv@v7

      - name: Install dependencies and tools
        run: |
          uv venv
          source .venv/bin/activate
          uv sync
          uv pip install -e .
          uv tool install ruff==0.11.12
          uv tool install black==25.1.0
          uv tool install bandit==1.8.3
          uv tool install tavern==2.15.0

      - name: Run Ruff
        run: uv tool run ruff check --output-format=github .

      - name: Run Black
        run: uv tool run black --check --diff .

      - name: Run Bandit scan
        run: uv tool run bandit -c pyproject.toml -r .

      - name: Install Mosquitto
        run: |
          sudo apt-get install -y mosquitto

      - name: Run unit tests
        run: |
          uv run pytest -v

      - name: Run integration tests
        run: |
          bash tests/integration/mosquitto/run_mosquitto.sh
          sleep 3
          bash run_integration_tests.sh

      - name: Run code coverage
        run: |
          uv run pytest --cov=pymqttframework
